<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Demo uzdevums - SOAP Uzņemumu meklētājs</div>

                    <div class="card-body">
                        <div class="form-group">
                            <label for="searchInput" class="label">Uzņēmumi meklēšana pēc nosaukuma vai reģistrācijas numura </label>
                            <input id="searchInput" type="text" class="form-control" name="searchString" v-model="searchString" >
                            <small class="form-text text-muted" v-if="searchString.length > 0 && searchString.length < 3">Lūdzu ievadiet vismaz 3 simboli</small>

                        </div>
                        <button class="btn btn-primary" v-on:click="fetchData" :disabled="searchString.length < 3">Search</button>

                        <h4 v-if="errorMessage">{{errorMessage}}</h4>
                        <div class="mt-4" v-if="result.length > 0">
                            <h3>Rezultāti:</h3>
                            <ul class="list-group" v-for="item in result">
                                <div class="list-group-item">
                                    <h5 class="mb-1">{{ item.supplierName }}</h5>
                                    <p class="mb-1">reģistrācijas numurs: {{ item.registrationNumber }}</p>
                                    <p class="mb-1">EIC: {{ item.supplierEIC }}</p>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            let uri = window.location.href.split('?');
            if (uri.length == 2) {
                let vars = uri[1].split('&');
                let getVars = {};
                let tmp = '';
                vars.forEach(function(v){
                    tmp = v.split('=');
                    if(tmp.length == 2)
                    getVars[tmp[0]] = tmp[1];
                });

                if (getVars.q) {
                    this.searchString = getVars.q;
                    this.fetchData();
                }
            }
        },
        data: function () {
                return {
                  result: [],
                  searchString: "",
                  errorMessage: ""
                }
              },
        methods: {
            fetchData: function () {
                window.history.replaceState(null, null, "?q=" + this.searchString);
                $.get("/api/suppliers/" + this.searchString,
                    (data) => {
                        if (data.result) {
                            this.result = data.result;
                        } else if (data.error) {
                            this.errorMessage = data.error;
                        }
                    }
                );
            }
        }
    }
</script>
